on:
  pull_request:
  push:
    branches:
      - master

name: Test
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.24.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - if: startsWith(matrix.os,'ubuntu')
      name: Set up LibGL, Mesa & X11 libraries
      run: |
        sudo apt-get --allow-releaseinfo-change update
        sudo apt-get install -y libgtk-3-dev libasound2-dev libxxf86vm-dev
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Test
      run: go test -v ./...
